VITE_APP_BASE_URL=server_url
#VITE_APP_BASE_URL=http://localhost:8000/api

# Make sure you paste here yout backend url if runnind on local otherwise the live url but make sure to have "/api" at the end