ALLOWED_HOSTS=localhost,127.0.0.1
# your backend live link or keep it as it is if local

DB_NAME = "Qubicle"
DB_USERNAME = "postgres"
DB_PASSWORD = "admin"
DB_HOST = "localhost"
DB_PORT = 5432
# Enter your Db configuration values here these all ar ethe drfault localhost vlaues

SECRET_KEY=your_secret_key
DEBUG=True
# get these values from the config/settings.py or create your new one

ELASTICSEARCH_HOST=http://localhost:9200
# your ELK server link

FRONTEND_ORIGIN=http://localhost:5173
# your frontend live link